<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Quado's dev world dear <%= @role %> </h1>
    <p>
      You have successfully signed up,
    </p>
    <p>
      To verify your account, click the link below. <br>
      
      <a href=<%= @url %> > Verify </a> <br>
      Or copy and paste the following link on a browser
      <a> <%= @url %> </a>

    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>