<head>
  <title>Account Confirmation</title>
</head>
<tr>
  <td>
    <p
      style="
      color: #595959;
        font-family: 'Poppins', sans-serif;
        font-size: 0.85rem;
      "
    >
      Hello There!
    </p>
    <p
      style="
      color: #595959;
        font-family: 'Poppins', sans-serif;
        font-size: 0.85rem;
      "
    >
      Welcome to Medex. <br />
      Thank you for completing your registration on the MedEx portal as
      <div style="font-weight: bold; text-transform: uppercase; color: mediumblue"><%= @role %></div><br />
      Click on the <a href="<%= @url %>">Confirm</a> button below to confirm your email and complete your account registration.<br />
      You will need to enter the OTP code sent to your registered mobile number, when you click on the link.
    </p>

    <p
      style="
      color: #595959;
        font-family: 'Poppins', sans-serif;
        font-size: 0.85rem;
      "
    >
      Regards,<br />
      Medex
    </p>

    <!-- This will serve as a button by default it is primary button
with background color of light blue and aligned to the left.
Replace the href with the intended link

-->
    <div style="width: 100%; display: flex; gap: 2rem; margin: 2rem 0">
      <a
        style="
        background-color: #336cfb;
          color: white;
          text-decoration: none;
          padding: 0.85rem 1.3rem;
          border-radius: 0.2rem;
          cursor: pointer;
          font-size: 0.85rem;
        "
        href="<%= @url %>"
      >Confirm your account</a
      >
    </div>
  </td>
</tr>